body{
  color: rgb(8, 0, 8);
  background-color: rgb(0, 0, 0);
  vertical-align:center;  
   top: 10cm;
  height:10cm;
}
.quadrado{
    background-color: rgb(255, 175, 219);
   height: 500px;
   align-items: center;
   border-radius: 12%;
   width:10cm ;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 font-size: xx-large;
}
input{
  padding:7px;
  width: 300px;
}

button{
size: 20px;
width: 70px;
background-color: rgb(241, 0, 141);
color: aliceblue;
position: relative;
left: 40%;
}